[Desktop Entry]
Type=Application
Name=Corsair Control
GenericName=Corsair Mouse Controls
Comment=Configure Corsair mice on Linux
Exec=/usr/local/bin/corsair-control
Icon=corsair-control
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=Corsair;Control;Controls;Corsair Controls;Ironclaw;Mouse;Gaming Mouse;RGB;
StartupWMClass=Corsair Control
StartupNotify=true
